/*
    #252525
    #FF0000
    #AF0404
    #414141
*/

*{
    background-color: rgb(8, 17, 36);
    color: white;
    
}

menu hr{
    background-color: white;

}

canvas#editorCanvas{
    background-color: white;
    
}