*{
    border: none;
    margin: 0%;
    padding: 0%;

}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 60% auto;
    grid-template-rows: 12% auto;
    grid-template-areas:
    "header header header"
    "tools editor properties";

    overflow: hidden;

}

header{
    grid-area: header;

}

menu{
    grid-area: tools;

}

.menuItem{
    width: 100px;
    display: block;

}

.divider{
    width: 100%;
    border: 2px solid white;
    box-sizing: border-box;

}

div#properties{
    grid-area: properties;
    box-sizing: border-box;

}

canvas#editorCanvas{
    width: 100%;
    height: 100%;

}